body, html {
	width: 100%;
  font-family: 'Ubuntu Mono';
  background: url(./../images/glitch.gif) no-repeat center 10px fixed;
  background-size: cover;
  background-color: #030316;
  color: #9aa8a9;
}

input[type=text], textarea{
  text-align: left;
  border: solid rgba(128,255,219,0.15);
  border-radius: 1px;
  font-size: 14px;
  font-weight: 100;
  background: none;
  padding: 8px 0px 8px 25px;
  height: 36px;
  appearance: none;
  font-smoothing: antialiased;
  border-width: 1px;
  color: #80ffdb;
}

input:focus, textarea:focus, button:focus{
  border-color:rgba(128,255,219,0.8) !important;
  box-shadow:0 1px 1px rgba(128,255,219,0.075) inset,0 0 8px rgba(128,255,219,0.6) !important;
  outline:0 none !important
}

.button,
.button:link,
.button:visited,
.input {
  display: block;
  background: none;
  border-style: none;
  text-align: center;
  border: solid 1px rgba(128,255,219,0.15);
  color: #80ffdb;
  font-weight: 100;
  font-size: 15px;
  border-radius: 1;
  height: 36px;
  padding: 0px;
  appearance: none;
  font-smoothing: antialiased;
  text-decoration: none;
  &.danger {
    background-color: #F44336;
    border: solid 1px #D32F2F;
    color: #FFF;
  }
}
.button:hover {
  background: #80ffdb;
  color: #030316;
  text-decoration: none;
}
.input {
  padding: 8px;
}

.flex {
  display: flex;
}
[flex] {
  flex: 1;
}

.navbar {
  display: flex;
  width: 100%;
  height: 44px;
  min-height: 44px;
  padding: 10px 16px;
  background: none;
  border-bottom: solid 1px rgba(128,255,219,0.15);
  color: #80ffdb;
  font-size: 20px;
  line-height: 1;
  border-radius: 0;
  a {
    text-decoration: none;
    color: #80ffdb;
    span {
      vertical-align: top;
      margin-left: -5px;
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  padding: 40px;
}
